body {
    font-family: "Roboto";
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.header .logo {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
}

.header .right-links ul {
    list-style: none;
    font-size: 18px;
    padding: 0px;
    display: flex;
    gap: 32px;
}

.header .right-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.top-container{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 80px 10% 80px 10%;
    gap: 120px;
}

.text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.text-col h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0px;
    margin-top: 0px;
}

.text col p {
    font-size: 18px;
    color: #e5e7eb;
}

.text-col button {
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px;
    font-family: "Roboto";
    font-weight: bold;
    width: 100px;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    width: 600px;
    height: 250px;
}

.info-container {
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    margin: 64px 0px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 150px;
}

.illustration {
    border: #3882f6;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
    margin-bottom: 8px;
    height: 150px;
    width: 150px;
}